.header {
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    width: 100%;
    justify-content: left;
    background-color: #DBDBDB;
    align-items: center;
    margin-left: var(--editor-left-margin);

}