.playhead {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 10px;
    background: linear-gradient(0deg, rgb(173, 173, 173) 0%, rgb(157, 157, 157) 50%,rgb(172, 172, 172) 100%);
    margin-bottom: 5px;
    color: white;
    border-radius: 4px;
}