.playheadbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    height: 10px;
    background: linear-gradient(0deg, rgb(229, 229, 229) 0%, rgb(174, 174, 174) 50%,rgb(180, 180, 180) 100%);
    margin-bottom: 5px;
    color: white;
    border-radius: 4px;
}

/* lets define the playhead to be a verrticale lineq */

.playhead {
    width: 2px; /* Width of the vertical line */
    height: 100%; /* Full height of its container */
    background-color: #ffffff60; /* Color of the playhead */
    position: absolute;
    /* transition: left 0.1s; */
    z-index: 1;
    

}