.track_container {
    position:relative;
    display: fixed;
    flex-direction: column;
    height: var(--track-height);
    /* width: var(--project-width); */
    width:100%;
}

.track_body {
    height: 100%;
    /* width: 800px; */
    border-radius: 10px;
    /* transition: width 0.1s ease-in-out; */
}

.track_name {
    position: absolute;
    color: white;
    height: 100%;
    padding-left: 8px

}

.track_waveform {
    height: 100%;
    border-radius: 10px;

}
