.editor_area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #DBDBDB;
    overflow-x: hidden;
    overflow-y: hidden;
}

.editor_centering_container {
    height: calc(100vh - var(--header-height) - 2*var(--playcontrols-height));
    overflow-x: scroll;
}

.editor {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: var(--editor-left-margin);
    overflow-y: auto;
    width: var(--project-width);
    min-width: 100vw;
    /* overflow-x: scroll; */

}