.buttonContainer {
    position: relative;
    margin-top: 50px;
    margin-left: 7px;
    margin-right: 7px;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    background-color: #DBDBDB; /* Dark gray background, matching the project bar */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
  }
  
  .button {
  }
  
  .button svg {
    margin-top: 10px;
    width: 32px;  /* Set the desired width */
    height: 32px; /* Set the desired height */
  }
  
  .hidden {
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    left: -5px;
    width:0px;
    margin-left:0px;
    margin-right:0px;
  }
  .visible {
    transition: all 0.9s ease;
    opacity: 1;
    visibility: visible;
    left: 0%;
  }