body {
    padding:0;
    margin:0;
}

/* I am using this to define a global css variable for header height, 
So I can calculate heights of the page elements relative to the header to = 100vh*/
:root {
    --header-height: 50px;
    --playcontrols-height: 60px;
    --track-height: 100px;
    --pixels-per-second: 10px;
    --project-duration: 180px;
    --project-width: 2800px;
    --editor-left-margin: 50px;
}