.playcontrols {
    grid: 1/2;
    display: flex;
    flex-direction: row;
    height: var(--playcontrols-height);
    width: 200px;
    justify-content: space-around;
    margin-bottom: 50px;
    /* padding-bottom: 50px; */
}

.controlbutton {
    position: relative;
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center; 
    align-items: center;
    cursor: pointer;
    background-color: #DBDBDB; /* Dark gray background, matching the project bar */
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2); /* Subtle drop shadow */
}

/* when the button is clicked, it gets assigned the pushed class*/
.controlbutton.pushed {
    background-color: #cecece; /* Light gray background */
}

.controlbutton:active {
    background-color: #cccccc; /* Light gray background */
}


.controlbutton svg {
    margin-top: 2px;
    width: 29px;  /* Set the desired width */
    height: 29px; /* Set the desired height */
  }

  #rr {
    margin-right: 3px;
  }
  #pp {
    margin-left: 3px;
  }
  #ff {
    margin-left: 3px;
  }