.project_bar {
    height: 100vh;
    width: var(--projectbar-width);
    min-width: 200px;
    /* border: 10px solid black; */
    padding-left: 10px;
    background-color: #1F2123;

}

.project_bar_content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /* font color black */
    color: black;;
}

.project_bar_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    width: auto;
    /* font color black */
    color:#dddddd;
    background-color: #1F2123;
}